::selection {
    background: #FD685B;
    color: #fff;
}

::-moz-selection {
    background: #FD685B;
    color: #fff;
}

::-webkit-input-placeholder {
    color: #b3b3b3;
}

:-moz-placeholder {
    color: #b3b3b3;
}

::-moz-placeholder {
    color: #b3b3b3;
}

:-ms-input-placeholder {
    color: #b3b3b3;
}

*,*:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    background-color: #fbfbfb;
    color: #333;
    font-size: 1.125em; /* font-size: 18px; */
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.34;
    text-rendering: auto; /* Android browser */
}

a {
    color: #222;
    text-decoration: underline;
}


h1 {
    font-size: 2.369em;
}

h2 {
    font-size: 1.777em;
}

h3 {
    font-size: 1.333em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.75em;
}

h6 {
    font-size: 0.563em;
}

.row-content.buffer,.row-content.buffer-top {
    padding-top: 3.8%;
}


/*----------------------------------------------------------------
    Loaders
----------------------------------------------------------------*/

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0);
    }

    40% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0);
        transform: scale(0.0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}


/*----------------------------------------------------------------
    Header menu
----------------------------------------------------------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    padding: 0.5rem 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.97);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

header.transition {
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

header.transparent {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

header.transparent.light #brand a,
header.transparent.light nav > ul > li > a,
.caption {
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
}

header.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(255, 255, 255, 0.97);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
}

#brand {
    float: left;
    clear: none;
}

#brand a,nav a {
    text-decoration: none;
}

#brand h1 {
    font-size: 1.556em;
    line-height: 3rem;
}

nav {
    position: relative;
    display: inline-block;
    float: right;
    clear: none;
}

#brand a,nav a {
    color: #333;
}

#brand a img#default-logo,
#brand a img#retina-logo {
    float: left;
    margin-top: 0.286em;
    margin-right: 0.5em;
    height: 1.143em;
}

#brand a img#retina-logo {
    display: none;
}

/* retina logo */
@media only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {

    #brand a img#retina-logo {
        display: block;
    }

    #brand a img#default-logo {
        display: none;
    }
}

header.transparent.light #brand a,
header.transparent.light nav > ul > li > a {
    color: #fff;
}

header.fixed-header.transparent.light #brand a,
header.fixed-header.transparent.light nav > ul > li > a {
    color: #333;
    text-shadow: none;
}

header.fixed-header.transparent.light nav > ul > li:hover > a {
    border-bottom: 2px solid #333;
}

nav > ul,nav > ul > li {
    float: left;
    clear: none;
}

nav > ul > li {
    padding: 0 0.778em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.778em;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

nav > ul > li:last-child {
    padding: 0 0 0 0.778em;
}

nav > ul > li > a {
    line-height: 3rem;
}

nav > ul > li:hover > a {
    border-bottom: 2px solid #333;
}

header.transparent.light nav > ul > li:hover > a {
    border-bottom: 2px solid #fff;
}

nav li {
    position: relative;
    white-space: nowrap;
}

nav > ul li:hover > ul.sub-menu {
    display: block;
}

nav .sub-arrow {
    padding-left: 0.500em;
    vertical-align: middle;
    font-size: 0.714em;
}

nav ul.sub-menu {
    position: absolute;
    left: 0;
    z-index: 9999;
    display: none;
    margin-bottom: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}

nav ul.sub-menu ul.sub-menu {
    top: 0px;
    left: 100%;
    margin-top: -0.063rem;
    padding-top: 0;
}

nav ul.sub-menu > li > a {
    display: block;
    padding: 0.5rem 1rem;
    background-color: #F6F6F6;
    font-size: 0.786em;
}

nav ul.sub-menu > li > a:hover {
    background-color: #FD685B;
    color: #fff;
}

nav ul.sub-menu > li:first-child > a {
    border-radius: 2px 2px 0 0;
}

nav ul.sub-menu > li:last-child > a {
    border-radius: 0 0 2px 2px;
}

#menu-toggle {
    display: none;
    color: #CCC;
    text-decoration: none;
}

#menu-toggle i {
    line-height: 2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

#menu-toggle i.active {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-1);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#menu-toggle:hover {
    color: #FD685B;
}


@-webkit-keyframes overlay {
    from {
        -webkit-transform: translateY(-0.5em);
    }
}

@-moz-keyframes overlay {
    from {
        -moz-transform: translateY(-0.5em);
    }
}

@keyframes overlay {
    from {
        transform: translateY(-0.5em);
    }
}


@-webkit-keyframes fade {
    to {
        opacity: 1;
    }
}

@-moz-keyframes fade {
    to {
        opacity: 1;
    }
}

@keyframes fade {
    to {
        opacity: 1;
    }
}

@-webkit-keyframes photocaption {
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes photocaption {
    to {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@keyframes photocaption {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes mcaption {
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes mcaption {
    to {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@keyframes mcaption {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@-webkit-keyframes lfade {
    from {
        opacity: 0;
        -webkit-transform: translateX(-3em);
    }
}

@-moz-keyframes lfade {
    from {
        opacity: 0;
        -moz-transform: translateX(-3em);
    }
}

@keyframes lfade {
    from {
        opacity: 0;
        transform: translateX(-3em);
    }
}

@-webkit-keyframes smalllfade {
    from {
        opacity: 0;
        -webkit-transform: translateX(-1em);
    }
}

@-moz-keyframes smalllfade {
    from {
        opacity: 0;
        -moz-transform: translateX(-1em);
    }
}

@keyframes smalllfade {
    from {
        opacity: 0;
        transform: translateX(-1em);
    }
}

@-webkit-keyframes rfade {
    from {
        opacity: 0;
        -webkit-transform: translateX(3em);
    }
}

@-moz-keyframes rfade {
    from {
        opacity: 0;
        -moz-transform: translateX(3em);
    }
}

@keyframes rfade {
    from {
        opacity: 0;
        transform: translateX(3em);
    }
}



/*----------------------------------------------------------------
    Icons
----------------------------------------------------------------*/

.orange,i.icon.orange,i.fa.orange {
    color: #fa6f57;
}

.grey,i.icon.grey,i.fa.grey {
    color: #aab2bc;
}

.dark-grey,i.icon.dark-grey,i.fa.dark-grey {
    color: #545766;
}


/*----------------------------------------------------------------
    LineIcon font - Made with Fontastic.me - Icons: http://graphicburger.com/line-icon-set-for-ui/
----------------------------------------------------------------*/

@charset "UTF-8";
/*
@font-face {
    font-weight: normal;
  font-style: normal;
  font-family: "lineicon";
  src:url("fonts/lineicon.eot");
  src:url("fonts/lineicon.eot?#iefix") format("embedded-opentype"),
    url("fonts/lineicon.woff") format("woff"),
    url("fonts/lineicon.ttf") format("truetype"),
    url("fonts/lineicon.svg#lineicon") format("svg");
}*/

[data-icon]:before {
    content: attr(data-icon);
    text-transform: none !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-family: "lineicon" !important;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    text-transform: none !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-family: "lineicon" !important;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-images:before {
    content: "\e000";
}

.icon-arrow-up:before {
    content: "\e001";
}

.icon-arrow-right:before {
    content: "\e002";
}

.icon-arrow-left:before {
    content: "\e003";
}

.icon-arrow-down:before {
    content: "\e004";
}

.icon-search:before {
    content: "\e005";
}

.icon-camera:before {
    content: "\e006";
}

.icon-video:before {
    content: "\e007";
}

.icon-picture:before {
    content: "\e008";
}

.icon-home:before {
    content: "\e009";
}

.icon-outline-left-arrow:before {
    content: "\e00a";
}

.icon-outline-left-dir:before {
    content: "\e00b";
}

.icon-outline-left-right-arrow:before {
    content: "\e00c";
}

.icon-outline-right-arrow:before {
    content: "\e00d";
}

.icon-outline-right-dir:before {
    content: "\e00e";
}

.icon-outline-enlarge:before {
    content: "\e00f";
}

.icon-outline-close:before {
    content: "\e010";
}

.icon-multiview:before {
    content: "\e011";
}

.icon-load:before {
    content: "\e012";
}

.icon-link-two:before {
    content: "\e013";
}

.icon-link-one:before {
    content: "\e014";
}

.icon-reload:before {
    content: "\e015";
}

.icon-user:before {
    content: "\e016";
}

.icon-users:before {
    content: "\e017";
}

.icon-vertical-tag:before {
    content: "\e018";
}

.icon-checked:before {
    content: "\e019";
}

.icon-clip:before {
    content: "\e01a";
}

.icon-download:before {
    content: "\e01b";
}

.icon-equalizer:before {
    content: "\e01c";
}

.icon-flag:before {
    content: "\e01d";
}

.icon-gear:before {
    content: "\e01e";
}

.icon-outline-menu:before {
    content: "\e01f";
}

.icon-horizontal-tag:before {
    content: "\e020";
}

.icon-archive:before {
    content: "\e021";
}

.icon-bag:before {
    content: "\e022";
}

.icon-battery-25:before {
    content: "\e023";
}

.icon-battery-50:before {
    content: "\e024";
}

.icon-battery-75:before {
    content: "\e025";
}

.icon-battery-charged:before {
    content: "\e026";
}

.icon-battery-dead:before {
    content: "\e027";
}

.icon-bin:before {
    content: "\e028";
}

.icon-brush:before {
    content: "\e029";
}

.icon-connections:before {
    content: "\e02a";
}

.icon-compass:before {
    content: "\e02b";
}

.icon-comments:before {
    content: "\e02c";
}

.icon-comment-two:before {
    content: "\e02d";
}

.icon-comment-one:before {
    content: "\e02e";
}

.icon-clock:before {
    content: "\e02f";
}

.icon-cart:before {
    content: "\e030";
}

.icon-calendar:before {
    content: "\e031";
}

.icon-calc:before {
    content: "\e032";
}

.icon-bulb:before {
    content: "\e033";
}

.icon-crown:before {
    content: "\e034";
}

.icon-cup:before {
    content: "\e035";
}

.icon-diamond:before {
    content: "\e036";
}

.icon-doc:before {
    content: "\e037";
}

.icon-email:before {
    content: "\e038";
}

.icon-eye:before {
    content: "\e039";
}

.icon-film:before {
    content: "\e03a";
}

.icon-flame:before {
    content: "\e03b";
}

.icon-flash:before {
    content: "\e03c";
}

.icon-folder:before {
    content: "\e03d";
}

.icon-map:before {
    content: "\e03e";
}

.icon-lock:before {
    content: "\e03f";
}

.icon-inbox:before {
    content: "\e040";
}

.icon-heart:before {
    content: "\e041";
}

.icon-graph:before {
    content: "\e042";
}

.icon-globe:before {
    content: "\e043";
}

.icon-money:before {
    content: "\e044";
}

.icon-news:before {
    content: "\e045";
}

.icon-phone-one:before {
    content: "\e046";
}

.icon-phone-two:before {
    content: "\e047";
}

.icon-pin:before {
    content: "\e048";
}

.icon-pocket:before {
    content: "\e049";
}

.icon-wifi:before {
    content: "\e04a";
}

.icon-unlock:before {
    content: "\e04b";
}

.icon-scissors:before {
    content: "\e04c";
}

.icon-stamp:before {
    content: "\e04d";
}

.icon-star:before {
    content: "\e04e";
}

.icon-target:before {
    content: "\e04f";
}

.icon-tshirt:before {
    content: "\e050";
}

.icon-tumbler:before {
    content: "\e051";
}

.icon-pencil:before {
    content: "\e052";
}

.icon-paperfly:before {
    content: "\e053";
}

.icon-control-eject:before {
    content: "\e054";
}

.icon-control-fastforward:before {
    content: "\e055";
}

.icon-control-next:before {
    content: "\e056";
}

.icon-control-pause:before {
    content: "\e057";
}

.icon-control-play:before {
    content: "\e058";
}

.icon-cassette:before {
    content: "\e059";
}

.icon-control-prev:before {
    content: "\e05a";
}

.icon-control-rec:before {
    content: "\e05b";
}

.icon-control-rewind:before {
    content: "\e05c";
}

.icon-control-shuffle:before {
    content: "\e05d";
}

.icon-control-stop:before {
    content: "\e05e";
}

.icon-crop:before {
    content: "\e05f";
}

.icon-desktop:before {
    content: "\e060";
}

.icon-disk:before {
    content: "\e061";
}

.icon-headphones:before {
    content: "\e062";
}

.icon-laptop:before {
    content: "\e063";
}

.icon-layout:before {
    content: "\e064";
}

.icon-leaf:before {
    content: "\e065";
}

.icon-microphone:before {
    content: "\e066";
}

.icon-megaphone:before {
    content: "\e067";
}

.icon-music:before {
    content: "\e068";
}

.icon-speaker-on:before {
    content: "\e069";
}

.icon-speaker-off:before {
    content: "\e06a";
}

.icon-smartphone:before {
    content: "\e06b";
}

.icon-select:before {
    content: "\e06c";
}

.icon-resize:before {
    content: "\e06d";
}

.icon-umbrella:before {
    content: "\e06e";
}

.icon-weather-changeable:before {
    content: "\e06f";
}

.icon-weather-cloudy:before {
    content: "\e070";
}

.icon-weather-rainy:before {
    content: "\e071";
}

.icon-weather-snowy:before {
    content: "\e072";
}

.icon-weather-stormy:before {
    content: "\e073";
}

.icon-weather-sunny:before {
    content: "\e074";
}

.icon-tablet:before {
    content: "\e075";
}

.icon-arrow-down-simple:before {
    content: "\e076";
}

.icon-arrow-left-simple:before {
    content: "\e077";
}

.icon-arrow-right-simple:before {
    content: "\e078";
}

.icon-arrow-up-simple:before {
    content: "\e079";
}

.icon-close:before {
    content: "\e07a";
}

.icon-plus:before {
    content: "\e07b";
}


/*----------------------------------------------------------------
    Align Fontawesome and LineIcon fonts
----------------------------------------------------------------*/

.big-icon .icon,
.small-icon .icon,
.big-icon .fa,
.small-icon .fa {
    vertical-align: baseline;
}

.icon,
.fa {
    /* vertical-align: middle; */;
}


/*----------------------------------------------------------------
    Hide icons underline
----------------------------------------------------------------*/

.icon {
    display: inline-block;
}

/*----------------------------------------------------------------
    768px Breakpoint
----------------------------------------------------------------*/

@media handheld, only screen and (max-width:48em) {

    header {
        position: relative !important;
        background-color: #fff !important;
    }

    #brand a,nav a {
        color: #333 !important;
    }

    nav a:hover {
        color: #fff !important;
    }

    #brand,nav,#menu-toggle {
        display: block;
    }

    #menu-toggle {
        float: right;
        clear: none;
    }

    nav {
        float: none;
        clear: both;
    }

    nav > ul {
        margin-top: 2em;
    }

    #brand h1 {
        line-height: 1.8;
    }

    nav > ul {
        display: none;
    }

    nav > ul,nav > ul > li {
        float: none;
    }

    .sub-arrow {
        display: none;
    }

    nav > ul li > a {
        display: block;
        margin: 0;
        padding: 0.625rem 0;
        border-bottom: 1px solid #DDD !important;
        line-height: 1.250rem;
    }

    nav > ul > li > a:hover {
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
    }

    nav > ul li.last > a,nav > ul li.last > a:hover {
        border-bottom: none !important;
    }

    nav > ul > li.menu-item {
        padding: 0 !important;
    }

    nav ul.sub-menu > li > a {
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
    }

    nav ul.sub-menu > li > a {
        color: #666 !important;
        font-size: 0.688rem;
    }

    nav ul.sub-menu > li > a,nav ul li > a:hover {
        background-color: transparent !important;
    }

    nav ul li > a:hover {
        color: #FD685B !important;
    }

    nav > ul > li:hover > a {
        border-bottom: none;
    }

    nav ul.sub-menu {
        position: static;
        display: block;
        padding: 0 0 0 1.5em;
        width: inherit;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

}
 
@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes bottom-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(50%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@-moz-keyframes bottom-in {
    from {
        opacity: 0;
        -moz-transform: translateY(50%);
    }

    to {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
}

@-o-keyframes bottom-in {
    from {
        opacity: 0;
        -o-transform: translateY(50%);
    }

    to {
        opacity: 1;
        -o-transform: translateY(0%);
    }
}

@keyframes bottom-in {
    from {
        opacity: 0;
        transform: translateY(50%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}


/* mouse grab icon */
/*.grabbing {
    cursor: url(img/grabbing.png) 8 8, move;
}*/

/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
    0% {
        opacity: 1;
    }
}

@-moz-keyframes empty {
    0% {
        opacity: 1;
    }
}

@keyframes empty {
    0% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes backSlideOut {
    25% {
        opacity: .5;
        -webkit-transform: translateZ(-500px);
    }

    75% {
        opacity: .5;
        -webkit-transform: translateZ(-500px) translateX(-200%);
    }

    100% {
        opacity: .5;
        -webkit-transform: translateZ(-500px) translateX(-200%);
    }
}

@-moz-keyframes backSlideOut {
    25% {
        opacity: .5;
        -moz-transform: translateZ(-500px);
    }

    75% {
        opacity: .5;
        -moz-transform: translateZ(-500px) translateX(-200%);
    }

    100% {
        opacity: .5;
        -moz-transform: translateZ(-500px) translateX(-200%);
    }
}

@keyframes backSlideOut {
    25% {
        opacity: .5;
        transform: translateZ(-500px);
    }

    75% {
        opacity: .5;
        transform: translateZ(-500px) translateX(-200%);
    }

    100% {
        opacity: .5;
        transform: translateZ(-500px) translateX(-200%);
    }
}

@-webkit-keyframes backSlideIn {
    0%, 25% {
        opacity: .5;
        -webkit-transform: translateZ(-500px) translateX(200%);
    }

    75% {
        opacity: .5;
        -webkit-transform: translateZ(-500px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateZ(0) translateX(0);
    }
}

@-moz-keyframes backSlideIn {
    0%, 25% {
        opacity: .5;
        -moz-transform: translateZ(-500px) translateX(200%);
    }

    75% {
        opacity: .5;
        -moz-transform: translateZ(-500px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateZ(0) translateX(0);
    }
}

@keyframes backSlideIn {
    0%, 25% {
        opacity: .5;
        transform: translateZ(-500px) translateX(200%);
    }

    75% {
        opacity: .5;
        transform: translateZ(-500px);
    }

    100% {
        opacity: 1;
        transform: translateZ(0) translateX(0);
    }
}

@-webkit-keyframes scaleToFade {
    to {
        opacity: 0;
        -webkit-transform: scale(.8);
    }
}

@-moz-keyframes scaleToFade {
    to {
        opacity: 0;
        -moz-transform: scale(.8);
    }
}

@keyframes scaleToFade {
    to {
        opacity: 0;
        transform: scale(.8);
    }
}

@-webkit-keyframes goDown {
    from {
        -webkit-transform: translateY(-100%);
    }
}

@-moz-keyframes goDown {
    from {
        -moz-transform: translateY(-100%);
    }
}

@keyframes goDown {
    from {
        transform: translateY(-100%);
    }
}

@-webkit-keyframes scaleUpFrom {
    from {
        opacity: 0;
        -webkit-transform: scale(1.5);
    }
}

@-moz-keyframes scaleUpFrom {
    from {
        opacity: 0;
        -moz-transform: scale(1.5);
    }
}

@keyframes scaleUpFrom {
    from {
        opacity: 0;
        transform: scale(1.5);
    }
}

@-webkit-keyframes scaleUpTo {
    to {
        opacity: 0;
        -webkit-transform: scale(1.5);
    }
}

@-moz-keyframes scaleUpTo {
    to {
        opacity: 0;
        -moz-transform: scale(1.5);
    }
}

@keyframes scaleUpTo {
    to {
        opacity: 0;
        transform: scale(1.5);
    }
}

@-webkit-keyframes scaleDownFrom {
    from {
        opacity: 0;
        -webkit-transform: scale(1.5);
    }
}

@-moz-keyframes scaleDownFrom {
    from {
        opacity: 0;
        -moz-transform: scale(1.5);
    }
}

@keyframes scaleDownFrom {
    from {
        opacity: 0;
        transform: scale(1.5);
    }
}

@-webkit-keyframes scaleDownTo {
    to {
        opacity: 0;
        -webkit-transform: scale(.8);
    }
}

@-moz-keyframes scaleDownTo {
    to {
        opacity: 0;
        -moz-transform: scale(.8);
    }
}

@keyframes scaleDownTo {
    to {
        opacity: 0;
        transform: scale(.8);
    }
}

@-webkit-keyframes scaleDownRightFrom {
    from {
        -webkit-transform: translateX(100%);
    }
}

@-moz-keyframes scaleDownRightFrom {
    from {
        -moz-transform: translateX(100%);
    }
}

@keyframes scaleDownRightFrom {
    from {
        transform: translateX(100%);
    }
}

@-webkit-keyframes scaleDownRightTo {
    to {
        opacity: 0;
        -webkit-transform: scale(.8);
    }
}

@-moz-keyframes scaleDownRightTo {
    to {
        opacity: 0;
        -moz-transform: scale(.8);
    }
}

@keyframes scaleDownRightTo {
    to {
        opacity: 0;
        transform: scale(.8);
    }
}

@-webkit-keyframes scaleUpLeftFrom {
    from {
        opacity: 0;
        -webkit-transform: scale(.8);
    }
}

@-moz-keyframes scaleUpLeftFrom {
    from {
        opacity: 0;
        -moz-transform: scale(.8);
    }
}

@keyframes scaleUpLeftFrom {
    from {
        opacity: 0;
        transform: scale(.8);
    }
}

@-webkit-keyframes scaleUpLeftTo {
    to {
        -webkit-transform: translateX(-100%);
    }
}

@-moz-keyframes scaleUpLeftTo {
    to {
        -moz-transform: translateX(-100%);
    }
}

@keyframes scaleUpLeftTo {
    to {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes fadeTopFrom {
    from {
        opacity: 0.3;
        -webkit-transform: translateY(-100%);
    }
}

@-moz-keyframes fadeTopFrom {
    from {
        opacity: 0.3;
        -moz-transform: translateY(-100%);
    }
}

@keyframes fadeTopFrom {
    from {
        opacity: 0.3;
        transform: translateY(-100%);
    }
}

@-webkit-keyframes fadeTopTo {
    to {
        opacity: 0.3;
        -webkit-transform: translateY(100%);
    }
}

@-moz-keyframes fadeTopTo {
    to {
        opacity: 0.3;
        -moz-transform: translateY(100%);
    }
}

@keyframes fadeTopTo {
    to {
        opacity: 0.3;
        transform: translateY(100%);
    }
}

@-webkit-keyframes overlapFrom {
    from {
        -webkit-transform: translateX(100%);
    }
}

@-moz-keyframes overlapFrom {
    from {
        -moz-transform: translateX(100%);
    }
}

@keyframes overlapFrom {
    from {
        transform: translateX(100%);
    }
}

@-webkit-keyframes overlapTo {
    to {
        -webkit-transform: translateX(-25%);
    }
}

@-moz-keyframes overlapTo {
    to {
        -moz-transform: translateX(-25%);
    }
}

@keyframes overlapTo {
    to {
        transform: translateX(-25%);
    }
}



@media handheld,only screen and (max-width:48em) {
    body {
        font-size: 0.9em;
        -webkit-text-size-adjust: none;
    }
}
      