    <div id="footer-wrapper" class="wrapper">     
        <div id="footer" class="container">
            <section class="main-section footer" id="contact">
                
                <div class="contact_section">
                    <div class="row">
                        <div class="col-lg-3" *ngFor = "let c of contacts">
                            <div class="contact_block">
                                <div class="contact_block_icon rollIn animated wow"><span><i class="fa-home"></i></span></div>
                                <span>
                                     {{c.Address[0]}}<br>
                                    {{c.Phone[0]}}, {{c.Phone[1]}}<br>
                                    {{c.Email[0]}}<br>
                                   ++ {{c.Fax[0]}}<br>
                                   {{c.PostalCode}}<br>
                                   {{c.Url}}

                                </span>
                            </div>
                        </div>
                        <!--<div class="col-lg-3">
                            <div class="contact_block">
                                <div class="contact_block_icon icon2 rollIn animated wow"><span><i class="fa-phone"></i></span></div>
                                <span>
                                    +02 35708895<br>
                                    +02 35701552
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="contact_block">
                                <div class="contact_block_icon icon4 rollIn animated wow"><span><i class="fa-fax"></i></span></div>
                                <span> +20 2 35727612 </span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="contact_block">
                                <div class="contact_block_icon icon3 rollIn animated wow"><span><i class="fa-envelope-o"></i></span></div>
                                <span> <a href="mailto:zoogiza@hotmail.com"> zoogiza@hotmail.com </a> </span>
                            </div>
                        </div>-->
                    </div>
                </div>
                <p class="text-center">Copy rights &copy 2017 Giza Zoo </p>
              
            </section>

        </div>

    </div>
