
  <div class="AnimalMain">
    <div class="headPic">
      <div class="overlay">
          <div class="row">
            <div class="col col-lg-3 col-md-3"></div>
            <div class="col col-lg-2 col-md-4 col-sm-12">
              <div class="image">
                <a href="#mammal"> <img src="assets/images/catcountry.png" class="img-circle"></a>
              </div>
              <p class="Name">Mammals</p>

            </div>
            <div class="col col-lg-2 col-md-4 col-sm-12">
              <div class="image">
                <a href="#birds"><img src="assets/images/tropicalbirdhouse.png" class="img-circle"></a>
              </div>
              <p class="Name">Birds</p>

            </div>
            <div class="col col-lg-2 col-md-4 col-sm-12">
              <div class="image">
                <a href="#fish"> <img src="assets/images/aquarium.png" class="img-circle"></a>
              </div>
              <p class="Name">Fishes</p>

            </div>
            <div class="col col-lg-3 col-md-3"></div>

          </div>

          <div class="row">
            <div class="col col-lg-4 col-md-4"></div>

            <div class="col col-lg-2 col-md-2 col-sm-12">
              <div class="image">
                <a href="#reptitle"> <img src="assets/images/dragonlair.png" class="img-circle"></a>
              </div>
              <p class="Name">Reptiles</p>

            </div>
            <div class="col col-lg-2 col-md-2 col-sm-12">
              <div class="image">
                <a href="#baby">
                  <img src="assets/images/baby3.png" style="width:100px; height: 100px; padding : 20px" class="img-circle"></a>
              </div>
              <p class="Name">Baby Animals</p>

            </div>
            <div class="col col-lg-4 col-md-4"></div>

          </div>



      </div>
    </div>
    <div class="begin">
      <div class="mammal text-center">
        <div class="overlay">
          <span>Mammals</span>
          <p class="brief">
            Meet Our Mammal Animals anytime in Giza Zoo
          </p>
        </div>
      </div>

      <div class="MammalAnimal text-center" id="mammal">

        <div class="row" *ngFor = "let a of data">
            <div class=" col col-lg-3 col-md-3 col-sm-12">

            </div>
            <div class="col col-lg-2 col-md-2 col-sm-12">
              <img src="assets/images/003.jpg">
              <p>{{a.Name}}</p>

            </div>
            <div class="col col-lg-2 col-md-2 col-sm-12">
              <img src="assets/images/004.jpg">
              <p>Monkey</p>

            </div>
            <div class="col col-lg-2 col-md-2 col-sm-12 ">
              <img src="assets/images/005.jpg">
              <p>Tiger</p>

            </div>
            <div class=" col col-lg-3 col-md-3 col-sm-12">

            </div>
        </div>

        <div class="row">
            <div class=" col col-lg-3 col-md-3 col-sm-12">
            </div>
            <div class="col col-lg-2 col-md-2 col-sm-12">
              <img src="assets/images/0010.jpg">
              <p>Elephant</p>

            </div>
            <div class="col col-lg-2 col-md-2 col-sm-12">
              <img src="assets/images/0011.jpg">
              <p>Zebra</p>

            </div>
            <div class="col col-lg-2 col-md- col-sm-12 ">
              <img src="assets/images/0012.jpg">
              <p>Fish</p>

            </div>
            <div class=" col col-lg-3 col-md-3 col-sm-12">
            </div>
        </div>


        <div class="pagination text-center">
          <a href="#">&laquo;</a>
          <a href="#">1</a>
          <a class="active" href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#">&raquo;</a>
        </div>
      </div>
      <!--</div>-->



      <div class="begin">
        <div class="Birds text-center">
          <div class="overlay">
            <span>Birds</span>
            <p class="brief">
              Meet Our Birds anytime in Giza Zoo
            </p>
          </div>
        </div>

        <div class="Bird text-center" id="bird">
          <div class="row">
              <div class=" col col-lg-3 col-md-3 col-sm-12">
              </div>
              <div class="col col-lg-2 col-md-2 col-sm-12">
                <img src="assets/images/0010.jpg">
                <p>Elephant</p>

              </div>
              <div class="col col-lg-2 col-md-2 col-sm-12">
                <img src="assets/images/0011.jpg">
                <p>Zebra</p>

              </div>
              <div class="col col-lg-2 col-md- col-sm-12 ">
                <img src="assets/images/0012.jpg">
                <p>Fish</p>

              </div>
              <div class=" col col-lg-3 col-md-3 col-sm-12">
              </div>
          </div>

          <div class="row">
              <div class=" col col-lg-3 col-md-3 col-sm-12">
              </div>
              <div class="col col-lg-2 col-md-2 col-sm-12">
                <img src="assets/images/0010.jpg">
                <p>Elephant</p>

              </div>
              <div class="col col-lg-2 col-md-2 col-sm-12">
                <img src="assets/images/0011.jpg">
                <p>Zebra</p>

              </div>
              <div class="col col-lg-2 col-md- col-sm-12 ">
                <img src="assets/images/0012.jpg">
                <p>Fish</p>

              </div>
              <div class=" col col-lg-3 col-md-3 col-sm-12">
              </div>
          </div>
          <div class="pagination text-center">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
          </div>
        </div>
      </div>
    </div>


    <div class="begin">
      <div class="Reptiles text-center" id="reptitle">
        <div class="overlay">
          <span>Reptiles</span>
          <p class="brief">
            Meet Our Reptiles anytime in Giza Zoo
          </p>
        </div>
      </div>

      <div class="Reptile text-center">
        <div class="row">
            <div class=" col col-lg-3 col-md-3 col-sm-12">
            </div>
            <div class="col col-lg-2 col-md-2 col-sm-12">
              <img src="assets/images/0010.jpg">
              <p>Elephant</p>

            </div>
            <div class="col col-lg-2 col-md-2 col-sm-12">
              <img src="assets/images/0011.jpg">
              <p>Zebra</p>

            </div>
            <div class="col col-lg-2 col-md- col-sm-12 ">
              <img src="assets/images/0012.jpg">
              <p>Fish</p>

            </div>
            <div class=" col col-lg-3 col-md-3 col-sm-12">
            </div>
        </div>

        <div class="row">
            <div class=" col col-lg-3 col-md-3 col-sm-12">
            </div>
            <div class="col col-lg-2 col-md-2 col-sm-12">
              <img src="assets/images/0010.jpg">
              <p>Elephant</p>

            </div>
            <div class="col col-lg-2 col-md-2 col-sm-12">
              <img src="assets/images/0011.jpg">
              <p>Zebra</p>

            </div>
            <div class="col col-lg-2 col-md- col-sm-12 ">
              <img src="assets/images/0012.jpg">
              <p>Fish</p>

            </div>
            <div class=" col col-lg-3 col-md-3 col-sm-12">
            </div>
        </div>
        <div class="pagination text-center">
          <a href="#">&laquo;</a>
          <a href="#">1</a>
          <a class="active" href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#">&raquo;</a>
        </div>

      </div>
    </div>


    <div class="begin">
      <div class="Fishes text-center" id="fish">
        <div class="overlay">
          <span>Fishes</span>
          <p class="brief">
            Meet Our Fishes anytime in Giza Zoo
          </p>
        </div>
      </div>

      <div class="Fish text-center">
        <div class="row">
            <div class=" col col-lg-3 col-md-3 col-sm-12">
            </div>
            <div class="col col-lg-2 col-md-2 col-sm-12">
              <img src="assets/images/0010.jpg">
              <p>Elephant</p>

            </div>
            <div class="col col-lg-2 col-md-2 col-sm-12">
              <img src="assets/images/0011.jpg">
              <p>Zebra</p>

            </div>
            <div class="col col-lg-2 col-md- col-sm-12 ">
              <img src="assets/images/0012.jpg">
              <p>Fish</p>

            </div>
            <div class=" col col-lg-3 col-md-3 col-sm-12">
            </div>
        </div>

        <div class="row">
            <div class=" col col-lg-3 col-md-3 col-sm-12">
            </div>
            <div class="col col-lg-2 col-md-2 col-sm-12">
              <img src="assets/images/0010.jpg">
              <p>Elephant</p>

            </div>
            <div class="col col-lg-2 col-md-2 col-sm-12">
              <img src="assets/images/0011.jpg">
              <p>Zebra</p>

            </div>
            <div class="col col-lg-2 col-md- col-sm-12 ">
              <img src="assets/images/0012.jpg">
              <p>Fish</p>

            </div>
            <div class=" col col-lg-3 col-md-3 col-sm-12">
            </div>
        </div>
        <div class="pagination text-center">
          <a href="#">&laquo;</a>
          <a href="#">1</a>
          <a class="active" href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#">&raquo;</a>
        </div>
      </div>
    </div>

    <div class="begin">
      <div class="Babies text-center" id="baby">
        <div class="overlay">
          <span>Baby Animals</span>
          <p class="brief">
            Meet Our Baby Animals anytime in Giza Zoo
          </p>
        </div>
      </div>

      <div class="Baby text-center">
        <div class="row">
            <div class=" col col-lg-3 col-md-3 col-sm-12">
            </div>
            <div class="col col-lg-2 col-md-2 col-sm-12">
              <img src="assets/images/0010.jpg">
              <p>Elephant</p>

            </div>
            <div class="col col-lg-2 col-md-2 col-sm-12">
              <img src="assets/images/0011.jpg">
              <p>Zebra</p>

            </div>
            <div class="col col-lg-2 col-md- col-sm-12 ">
              <img src="assets/images/0012.jpg">
              <p>Fish</p>

            </div>
            <div class=" col col-lg-3 col-md-3 col-sm-12">
            </div>
        </div>

        <div class="row">
            <div class=" col col-lg-3 col-md-3 col-sm-12">
            </div>
            <div class="col col-lg-2 col-md-2 col-sm-12">
              <img src="assets/images/0010.jpg">
              <p>Elephant</p>

            </div>
            <div class="col col-lg-2 col-md-2 col-sm-12">
              <img src="assets/images/0011.jpg">
              <p>Zebra</p>

            </div>
            <div class="col col-lg-2 col-md- col-sm-12 ">
              <img src="assets/images/0012.jpg">
              <p>Fish</p>

            </div>
            <div class=" col col-lg-3 col-md-3 col-sm-12">
            </div>
        </div>
        <div class="pagination text-center">
          <a href="#">&laquo;</a>
          <a href="#">1</a>
          <a class="active" href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#">&raquo;</a>
        </div>
      </div>
    </div>
  </div>
<h1>{{data}}</h1>