<!--<link rel="stylesheet" type="text/css" href="assets/css/TipsStyle.css" />-->

<div class="Head">
        <div class="overlay">
        </div>
</div>

<div class="container">
     <h1 class="text-center">Tips for your visit</h1>
    <div class="panel-group col-lg-8 col-md-10" id="accordion">
		<div class="icon col-md-3 col-xs-4 f-icon">
			  <i class="fa fa-question shadow"></i>
		</div>	
        <div class="faqHeader">			
		General questions
		</div>
        <div class="panel panel-default">
            
            <div id="collapseTen" class="panel-collapse collapse in">
                <div class="panel-body">
                    There really isn’t any special time that more animals are in view, although many of our animals are “early risers” and may be a bit more active in the morning
                </div>
            </div>
        </div>
        <div class="panel panel-default">  </div> 
    </div>


      <div class="panel-group col-lg-8 col-md-10" id="accordion">
		<div class="icon col-md-3 col-xs-4 f-icon">
			  <i class="fa fa-question shadow"></i>
		</div>	
        <div class="faqHeader">			
		General questions
		</div>
        <div class="panel panel-default">
            
            <div id="collapseTen" class="panel-collapse collapse in">
                <div class="panel-body">
                    There really isn’t any special time that more animals are in view, although many of our animals are “early risers” and may be a bit more active in the morning
                </div>
            </div>
        </div>
        <div class="panel panel-default"></div> 
    </div>
    
      <div class="panel-group col-lg-8 col-md-10" id="accordion">
		<div class="icon col-md-3 col-xs-4 f-icon">
			  <i class="fa fa-question shadow"></i>
		</div>	
        <div class="faqHeader">			
		General questions
		</div>
        <div class="panel panel-default">
            
            <div id="collapseTen" class="panel-collapse collapse in">
                <div class="panel-body">
                    There really isn’t any special time that more animals are in view, although many of our animals are “early risers” and may be a bit more active in the morning
                </div>
            </div>
        </div>
        <div class="panel panel-default"></div> 
    </div>
</div>
